[user]
	name = Hari Srikanth
	email = harinsrikanth@gmail.com
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[pull]
	rebase = false
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
